{% extends 'publicaciones/base.html' %}
{% block bloque_definicion %}
<h2>Encuentra publicaciones de otros usuarios sobre tus temas del rock progresivo favoritos!</h2>
{% endblock %}
{% block bloque_contenido %}
    <div class="container">
        <div class="row justify-content-start">
            <h1 class="mb-5">FORO PRINCIPAL</h1>

        <form method="get" class="mb-4">
            <div class="row">
                <div class="col-4">
                    <input type="text" name="q" class="form-control" placeholder="Buscar por título..." value="{{ request.GET.q }}">
                </div>

                <div class="col-4">
                    <select name="categoria" class="form-select">
                        <option value="">Todas las categorías</option>
                        {% for cat in categorias %}
                            <option value="{{ cat.id }}" {% if request.GET.categoria == cat.id|stringformat:"s" %}selected{% endif %}>
                                {{ cat.nombre }}
                            </option>
                        {% endfor %}
                    </select>
                </div>

                <div class="col-4">
                    <button class="btn btn-primary" type="submit">Filtrar</button>
                </div>
            </div>
        </form>

            {% for p in page_obj.object_list %}
            <div class="row mt-2 container justify-content-start border rounded border-top-3 border-bottom-3 border-light p-3">
                {% if p.imagen %}
                <img class="img-responsive col-3" src="{{ p.imagen.url }}" alt="post_imagen">
                {% endif %}
                <div class="col-9 text-start">
                    <h3 class="text-start">{{ p.titulo }} - <a href="{% url 'perfil' p.usuario.id %}">{{ p.usuario.username }}</a></h3>
                    <h4 class="text-start text-muted fs-4">
                        Categorias: 
                        {% for c in p.categorias.all %}
                            {{c.nombre}}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </h4>
                    <p class="fs-5">{{ p.descripcion }}</p>
                </div>
            </div>
            {% endfor %}

        </div>

        <nav aria-label="Paginación" class="row mt-5">
            <ul class="pagination justify-content-center">

                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                </li>
                {% else %}
                <li class="page-item disabled"><span class="page-link">Anterior</span></li>
                {% endif %}


                {% for num in page_range %}
                <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                </li>
                {% endfor %}


                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
                </li>
                {% else %}
                <li class="page-item disabled"><span class="page-link">Siguiente</span></li>
                {% endif %}
            </ul>
        </nav>

    </div>
</div>
{% endblock %}