{% extends 'publicaciones/base.html' %}
{% block bloque_definicion %}
<h2>Perfil de usuario</h2>
{% endblock %}
{% block bloque_contenido %}

<div class="container">
    <div class="container row text-start mb-4">
        <h2><a href="/foro">← Volver atrás</a></h2>
    </div>

    <div class="container row">
        {% if usuario.imagen %}
        <img class="img-responsive col-3" src="{{ usuario.imagen.url }}" alt="perfil_usuario"> - 
        {% endif %}
        <h3 class="col-6">Nombre de usuario: {{ usuario.username }}</h3>
    </div>
    <h4 class="ps-4 p-3" >Descripción: {{ usuario.descripcion }}</h4>

    {% if 'usuarios.delete_usuario' in perms %}
    <h2><a href="./eliminar/{{ usuario.id }}" class="text-danger">Eliminar usuario</a></h2>
    {% endif %}
</div>



{% endblock %}