{% extends 'publicaciones/base.html' %}

{% block bloque_definicion %}
<h2>Registrar usuario</h2>
{% endblock %}

{% block bloque_contenido %}

<div class="container">
    <div class="container row text-start mb-4">
        <h2><a href="/foro">Registrar administrador</a></h2>
    </div>

    {% if form.errors %}
        {{ form.errors }}
    {% endif %}
    {% if 'fail' in request.GET %}
        <h3 class="text-warning">Ese usuario ya existe.</h3>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Registrar</button>
    </form>
</div>



{% endblock %}