{% extends 'core/base.html' %}
{% load static %}
{% block bloque_definicion %}
<h2>Una breve descripcion de nosotros, presentando nuestras carreras de estudio, edad y enlace de github.</h2>
{% endblock %}
{% block bloque_contenido %}
<div class="container">
    <h1 class="text-center mb-4">Sobre Nosotros</h1>
    <div class="row justify-content-center g-4">

        <div class="col-md-4 d-flex justify-content-center">
            <div class="card" style="width: 17rem;">
                <img src="{% static 'core/imagenes/frappuccino.jpg' %}" class="card-img-top" alt="butterdog.jpg">
                <div class="card-body">
                    <h5 class="card-title">Renato Espinoza</h5>
                    <p class="card-text">Estudiante de Ingeniería en Informática de 21 años.</p>
                    <a href="https://github.com/FrappuccinoIc" class="btn btn-primary">Ir a github</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 d-flex justify-content-center">
            <div class="card" style="width: 17rem;">
                <img src="{% static 'core/imagenes/natzabes.png' %}" class="card-img-top" alt="butterdog.jpg">
                <div class="card-body">
                    <h5 class="card-title">Alfonso Espinoza</h5>
                    <p class="card-text">Estudiante de Ingeniería en Informática de 24 años.</p>
                    <a href="https://github.com/iscifeere" class="btn btn-primary">Ir a github</a>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 d-flex justify-content-center">
            <div class="card" style="width: 17rem;">
                <div class="card-body">
                    <img src="{% static 'core/imagenes/escifeere.jpg' %}" class="card-img-top" alt="butterdog.jpg">
                    <h5 class="card-title">Sebastian Riquelme</h5>
                    <p class="card-text">Estudiante de Ingeniería en Informática de 21 años.</p>
                    <a href="https://github.com/Natzabes" class="btn btn-primary">Ir a github</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}